<!doctype html>
<html lang="en">

<head>
    {% block title %}<title>Home</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174908278-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-174908278-3');
    </script>

    {% load static %}
    <link href="{% static 'home/favicon.ico' %}" rel="icon" type="image/ico" />

    {% block head %}
    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link" href="/guess_the_r_number">Guess the R Number</a>
                </li>
                <li>
                    <a class="nav-link" href="/schitter">Schitter</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Covid Charts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/charts/daily_confirmed_total_confirmed">Daily Confirmed against Total Confirmed</a>
                        <a class="dropdown-item" href="/chartjs/global_new_cases">Daily Confirmed against Time</a>
                        <a class="dropdown-item" href="/chartjs/global_deaths">Deaths against Time</a>
                        <a class="dropdown-item" href="/charts/country_stats">Country Statistics</a>
                        <a class="dropdown-item" href="/charts/deaths_against_time_bar">Deaths against Time (Bar)</a>
                        <a class="dropdown-item" href="/charts/confirmed_against_time_bar">Confirmed against Time (Bar)</a>
                        <a class="dropdown-item" href="/charts/confirmed_map_plot">Confirmed Map Plot</a>
                        <a class="dropdown-item" href="/charts/confirmed_pc_map_plot">Confirmed per Capita Map Plot</a>
                        <a class="dropdown-item" href="/LeafletMaps/uk_cumulative_cases">UK Confirmed Map Plot</a>
                        <a class="dropdown-item" href="/highcharts/new_cases_bar_chart">Brighton and Hove Daily Cases</a>
                    </div>
                </li>
            </ul>
            <div class="float-right">
                {% if user.is_authenticated %}
                    Hello {{ user.username }}
                    <a class="btn btn-primary ml-2" href="/accounts/logout">Logout</a>
                {% else %}
                    Hello Guest...
                    <a class="btn btn-primary ml-2" href="/accounts/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    
    {% block scripts %}
    {% endblock %}
</body>

</html>